/* <!-- --!> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    color: #f8f8f8;
    cursor: default;
}

button {
    border-style: none;
    cursor: pointer;
}

/* <!-- --!> */

#fullscreen {
    position: absolute;
    z-index: -100;
    height: 200vh; width: 100%;
    background-color: rgba(31, 32, 33, 1); 
}

.page {
    height: 100vh;
}

/* First page config */

.one {
    background-color: steelblue;
    background-image: url("../images/bg-astronomy.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    opacity: 78%;
}

/* Second page config */

.two {
    background-color: tomato;
    background-image: url("../images/bg-hubble.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    opacity: 78%;
}

/* Header - navbar-button */

header {
    display: flex;
    justify-content: space-between;
    padding: 1.444rem;

    border: -0.15em solid #FeFeFe;
    border-radius: 4.444em; 
    box-shadow: inset 0.5em 0.2em 0.777em #Fefefe;
}

header .logo:hover, header nav p:hover {
    transition: 0.2s ease;
    transform: scale(1.1);
}

header nav {
    display: flex;
    align-items: center;
}

header nav p {
    margin: 0 0.777rem;
    font-size: 0.7em;
}

header nav .btn-donate {
    height: 100%; width: 5rem;
    background-color: #f8f8f8;
    color: #0e0e0e;

    border-radius: 1.1em;
}

header nav .btn-donate:hover {
    background-color: #0e0e0e;
    color: #f8f8f8;
    
    transform: scale(1.03);
    transition: 0.4s ease;
    border: 1px solid #f8f8f8;
}

/* Main - texts - button */

.container-text {
    position: relative;
    margin-top: 2em;

    display: flex;
    width: 100%; height: 50vh;
    flex-direction: column;
    align-items: center;

    padding: 4em 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.sub-title {
    font-size: 1.555em;
    text-shadow: rgba(0, 0, 0, 0.7) -0.07em 0.07em;
}

.title {
    font-size: 2.444em;
    text-shadow: rgba(0, 0, 0, 0.7) -0.07em 0.095em;
}

.btn-more {
    width: 6.66rem; height: 2.44rem;
    background-color: rgba(255, 255, 255, 0.15);
    margin-top: 2em;
    border: 0.07em solid #c5c5c5;
    color: #f8f8f8;
    text-shadow: 0.6em 0.4em 01em #0e0e0e;
    font-weight: bold;
    text-transform: uppercase;
    transition: all ease 0.2s;
}

.btn-more:hover {
    transform: scale(1.08);
    border: none;
    box-shadow: 0.02em 0.02em 1em rgba(0, 0, 0, 0.8);
}

a {
    text-decoration: none;
    color: #0e0e0e;
}

footer {
    margin: 1.5em;
}

footer p {
    display: flex;
    justify-content: center;
}

.social-media {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
}

.social-media i {
    font-size: 1.25em ;
    color: #FeFeFe;
    margin: 0 0.333em;
}

.social-media i:hover {
    transform: scale(1.5);
    border: none;
    text-shadow: 0.02em 0.02em 1em rgba(255, 255, 255, 1);
    transition: 0.4s ease;
}

.page-control {
    width: 5%;
    display: flex;
    flex-direction: column;
}

.page-control i {
    font-size: 1.5em;
    color: #FeFeFe;
    margin: 0.2em;
}

.page-control i:hover {
    transform: scale(1.2);
    text-shadow: 0.02em 0.02em 1em rgb(0, 0, 0);
    transition: 0.4s ease;
}

/* Telefones em paisagem e abaixo */
@media (max-width: 484px) { 
    header {
        visibility: hidden;
    }
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
    .container-text {
        height: 54vh;
    }
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) {

    body {
        font-size: 1.2rem;
    }

    .container-text {
        height: 50vh;
    }
}

/* Desktop grande */
@media (min-width: 1200px) {
    body {
        font-size: 1.25rem;
    }

    header {
        padding: 1.77rem;
    }

    .container-text {
        height: 52vh;
    }

    .btn-more {
        width: 6.66rem; height: 2.44rem;
        margin-top: 2em;

    }
}